# Бинарные файлы и исполняемые файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Главный бинарник проекта (замените app на имя вашего сервиса)
app
bin/

# Инструменты тестирования и покрытия кода
*.coverprofile
coverage.txt
coverage.out

# Локальные переменные окружения
*.env
*.env.local
.env.*.local

# Зависимости (если вы используете vendor/, обычно он игнорируется)
# Раскомментируйте строку ниже, если НЕ хотите сохранять vendor в git
# vendor/

# Кэш сборки Go
.go-build/

# Логи
*.log

# Файлы популярных сред разработки (IDE)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
