# Бинарные файлы и исполняемые файлы
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Главный бинарник проекта (замените app на имя вашего сервиса)
bin/

# Инструменты тестирования и покрытия кода последние две вкл в первый пункт
coverage.*
profile.cov
*.coverprofile

# Локальные переменные окружения
*.env
*.env.*
*.env.local
.env.*.local

# Зависимости (если вы используете vendor/, обычно он игнорируется)
vendor/

# Кэш сборки Go
.go-build/

# Логи
*.log
/secrets/*
/config/*


# Файлы популярных сред разработки (IDE)
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

leetcode/
